<%= link_to 'Home', root_path %>

<%= form_tag sambavams_path do %>
    <%= hidden_field_tag :lat, @lat %>
    <%= hidden_field_tag :long, @long %>

    <div>
      <%= label_tag :name, 'Location' %>
      <%= text_field_tag :name, @location, readonly: true %>
    </div>

    <div>
      <%= label_tag :names, 'Suspects Name/Alias' %>
      <%= text_field_tag :names %>
    </div>

    <div>
      <%= label_tag :height, 'Height(in inches)' %>
      <%= text_field_tag :height %>
    </div>

    <div>
      <%= label_tag :hair_style, 'Hair Style' %>
      <%= select_tag :hair_style, options_for_select(['Unsure','Short','Medium','Long','Bald/Shaved']) %>
    </div>

    <div>
      <%= label_tag :eye_colour, 'Eye Colour' %>
      <%= select_tag :eye_colour, options_for_select(['Unsure','Blue','Brown','Black','Grey']) %>
    </div>

    <div>
      <%= label_tag :crime_description, 'Crime Description' %>
      <%= text_area_tag :crime_description, '' %>
    </div>

    <div><%= submit_tag "Submit Tip" %></div>
<% end %>